<html>
  <%- include("./includes/header.ejs") %>
  <body>
    <%- include("./includes/navbar.ejs") %>
    <section class="content">
      <div class="container mt-3">

        <%- include("./includes/flash.ejs") %>
      </div>
      <%- body -%>
    </section>
    <%- include("./includes/footer.ejs") %>
    <script>
      (() => {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  const forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.from(forms).forEach(form => {
    form.addEventListener('submit', event => {
      if (!form.checkValidity()) {
        event.preventDefault()
        event.stopPropagation()
      }

      form.classList.add('was-validated')
    }, false)
  })
})()
    </script>
  </body>
</html>